@use 'main' as *;

.footer {
  background-color: $color-black-smoke;
  grid-column: full-start / full-end;
  padding: 6rem 1.6rem;

  .copyWrapper {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.6rem;
    text-align: center;
    margin-bottom: 5rem;

    .copyHeadline {
      font-size: 4rem;
      font-weight: 700;
      letter-spacing: -1.13636px;
      line-height: 4rem;
      margin-bottom: 2rem;
    }

    .subcopy {
      font-size: 1.6rem;
      font-weight: 500;
    }
  }

  .copyright {
    color: $color-grey-light-2;
    font-size: 1.4rem;
    margin: 2.5rem auto 0;
    text-align: center;
    width: fit-content;
  }
}
