@use 'main' as *;

.footer {
  --footer-pad: 6rem 0;

  padding: var(--footer-pad);
  background-color: $color-black-smoke;

  .copyWrapper {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.6rem;
    text-align: center;
    margin-bottom: 5rem;

    .copyHeadline {
      font-size: 4rem;
      font-weight: 700;
      letter-spacing: -1.13636px;
      line-height: 4rem;
      margin-bottom: 2rem;
    }

    .subcopy {
      font-size: 1.6rem;
      font-weight: 500;
    }
  }

  .copyright {
    color: $color-white-smoke;
    font-size: 1.4rem;
    margin: 2.5rem auto 0;
    text-align: center;
    width: fit-content;
  }

  //   .rings {
  //     overflow: hidden;
  //     grid-row: 2;
  //     align-self: end;
  //     translate: -1.8rem 0;
  //     margin-bottom: 1rem;

  //     svg {
  //       translate: -32.3rem 0;
  //       width: 53rem;
  //       height: 12.9rem;
  //     }
  //   }

  @include media-query('md', 'up') {
    --footer-pad: 4rem 0;

    div.copyWrapper,
    form[class*='form'] {
      width: 44.5rem;
      justify-self: center;
    }

    .copyWrapper {
      margin-bottom: 0;

      .copyHeadline {
        font-size: 7.2rem;
        letter-spacing: -2.04545px;
        line-height: 7.2rem;
      }

      .subcopy {
        font-size: 1.8rem;
      }
    }

    //     .rings {
    //       grid-row: 2;
    //       align-self: end;
    //       translate: -1.8rem 7rem;
    //       margin-bottom: 0;
    //       width: 16.2rem;

    //       svg {
    //         translate: -36.8rem 0;
    //       }
    //     }

    .copyright {
      width: 100%;
      text-align: end;
    }
  }

  @include media-query('lg', 'up') {
    div.copyWrapper {
      max-width: 44.5rem;
      grid-column: 1 / span 6;
      justify-self: start;
      text-align: start;
    }

    form[class*='form'] {
      grid-column: 8 / -1;
      grid-row: 1;
      max-width: 44.5rem;
    }

    //     .rings {
    //       width: 100%;
    //       translate: -2.8rem 7rem;
    //       grid-row: 1;

    //       svg {
    //         translate: -20.8rem 0;
    //       }
    //     }
  }
}
