@use './functions' as *;

@mixin media-query($bp, $direction) {
  @if get-bp($bp) {
    @if $direction == 'up' {
      @media (min-width: get-bp($bp)) {
        @content;
      }
    } @else if $direction == 'down' {
      @media (max-width: get-bp($bp)) {
        @content;
      }
    } @else {
      @error "Please enter a valid direction -> (up or down)";
    }
  } @else {
    @error "Please enter a valid break-point -> (xs, sm, md, lg, xl)";
  }
}

@mixin grid-columns() {
  grid-template-columns:
    [ full-start]
    2.4rem
    [ center-start]
    repeat(8, minmax(min-content, 14rem))
    [ center-end]
    2.4rem
    [ full-end];

  @include media-query('lg', 'up') {
    grid-template-columns:
      [ full-start]
      minmax(6rem, 1fr)
      [ center-start]
      repeat(8, minmax(min-content, 14rem))
      [ center-end]
      minmax(6rem, 1fr)
      [ full-end];
  }
}

@function set-outer-columns($side-col: 0) {
  @return [ full-start] $side-col [ center-start] minmax(min-content, 1fr) [
    center-end] $side-col [ full-end];
}

@function set-inner-columns($cols: 4, $cols-size: 1fr) {
  @return [ center-start] repeat($cols, $cols-size) [ center-end];
}

@mixin main-layout {
  column-gap: 1.6rem;
  display: grid;
  grid-template-columns: set-outer-columns();

  .innerColsCentered {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: set-inner-columns();
    column-gap: 2.4rem;
  }

  @include media-query('md', 'up') {
    grid-template-columns: set-outer-columns(1.4rem);

    .innerColsCentered {
      grid-template-columns: set-inner-columns(8);
    }
  }

  @include media-query('lg', 'up') {
    .innerColsCentered {
      max-width: 111rem;
      width: 100%;
      grid-template-columns: set-inner-columns(12);
      justify-self: center;
    }
  }

  @include media-query('xl', 'up') {
    grid-template-columns: set-outer-columns(minmax(1.4rem, 1fr));

    .innerColsCentered {
      width: 111rem;
    }
  }
}
