@use 'main' as *;

.mainLayout {
  display: grid;
  position: relative;

  @include grid-columns;

  .main {
    display: grid;
    grid-column: full-start / full-end;

    @include grid-columns;
  }
}
