@use 'main' as *;

.mainHero {
  grid-column: full-start / full-end;
  padding-top: 3.6rem;
  padding-bottom: 4rem;
  display: grid;

  @include grid-columns;

  .headlineWrapper {
    grid-column: center-start / center-end;
    height: fit-content;
    max-width: 38rem;
    margin-bottom: 2rem;

    .heroHeadline {
      color: $color-grey-dark-1;
      font-family: $font-display;
      font-size: 4.4rem;
      font-weight: 400;
      margin-bottom: 2rem;
    }
  }

  .heroImage {
    grid-column: center-start / center-end;
  }

  @include media-query('md', 'up') {
    align-items: center;
    padding-bottom: 8rem;
    padding-top: 6rem;

    .headlineWrapper {
      grid-column: 2 / 6;
      justify-self: center;
      margin-bottom: 0;
    }

    .heroImage {
      grid-column: 6 / 10;
    }
  }
}
