@use 'main' as *;

.mainHero {
  position: relative;

  .heroRings {
    left: -34.2rem;
    position: absolute;
    top: 12.4rem;
    width: 53rem;
    z-index: -2;
  }

  .heroCircle {
    height: 12.9rem;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 25.4rem;
    width: 12.9rem;
    z-index: 3;

    svg {
      display: block;
      height: 100%;
      translate: 6.8rem 0;
      width: 100%;
    }
  }

  .heroNav {
    grid-row: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-self: center;
    padding-top: 2rem;
    text-align: center;
    z-index: 2;

    .navList {
      display: flex;
      gap: 2rem;
      list-style: none;

      .navLink {
        color: $color-white-smoke;
        display: inline-block;
        font-weight: 500;
      }
    }
  }

  .heroContainer {
    grid-row: 1 / -1;
  }

  .heroImg {
    grid-row: 1 / span 2;
    width: 21.7rem;
    height: 38.3rem;
    justify-self: center;
    background: linear-gradient(
      180deg,
      rgba(36, 36, 36, 0.0001) 0.65%,
      $color-black-smoke 100%
    );
    display: flex;
    align-items: flex-end;

    .gImg {
      width: 100%;
      height: 28rem;
    }
  }

  .headlineWrapper {
    padding-top: 4rem;
    text-align: center;
    display: grid;
    row-gap: 2rem;
    justify-items: center;

    .headline {
      font-size: 4rem;
      line-height: 4rem;
      text-align: center;
      letter-spacing: -1.13636px;
      border-bottom: 4px solid transparent;

      span[class='highlight'] {
        border-bottom: 4px solid $color-green;
        line-height: initial;
      }
    }

    .subcopy {
      font-weight: 500;
      line-height: 2.6rem;
      margin-bottom: 4px;
    }
  }
  // display: grid;
  // margin-bottom: 4rem;

  // // @include grid-columns;

  // .headlineWrapper {
  //   grid-column: center-start / center-end;
  //   height: fit-content;
  //   max-width: 38rem;
  //   margin-bottom: 2rem;

  //   .heroHeadline {
  //     color: $color-grey-light-2;
  //     font-family: $font-display;
  //     font-size: 4.4rem;
  //     font-weight: 400;
  //     margin-bottom: 2rem;
  //   }
  // }

  // .heroImage {
  //   grid-column: center-start / center-end;
  // }

  // @include media-query('md', 'up') {
  //   align-items: center;
  //   padding-bottom: 8rem;
  //   padding-top: 6rem;
  //   margin-bottom: 8rem;

  //   .headlineWrapper {
  //     grid-column: 2 / 6;
  //     justify-self: center;
  //     margin-bottom: 0;
  //   }

  //   .heroImage {
  //     grid-column: 6 / 10;
  //   }
  // }
}
