@use 'abstracts' as *;

.skillsContainer {
  grid-column: full-start / full-end;
  margin-bottom: 6rem;

  .projectList {
    margin-top: 5rem;
    padding: 0 3.5rem;
    display: grid;
    row-gap: 2.5rem;
  }

  @include media-query('md', 'up') {
    margin-bottom: 8rem;
  }

  @include media-query('lg', 'up') {
    .projectList {
      justify-items: center;
    }
  }
}
