@use 'main' as *;

.mainNavWrapper {
  grid-column: full-start / full-end;
  height: 5rem;

  .mainNav {
    background-color: $color-secondary;
    bottom: 0;
    height: 5rem;
    left: 0;
    position: fixed;
    width: 100%;

    .mainNavMenu {
      align-items: center;
      column-gap: 2rem;
      display: flex;
      height: 100%;
      justify-content: center;
      list-style: none;
    }

    @include media-query('md', 'up') {
      position: initial;
      bottom: initial;
      left: initial;
    }
  }
}
