@use 'main' as *;

.footerNavDivider {
  margin: 8.7rem 0 3.9rem;
  background-color: $color-white;
  height: 1px;
}

.footerNavHeadline {
  text-align: center;
  margin-bottom: 2rem;
}

.footerNav {
  align-items: center;
  display: flex;
  gap: 2.56rem;
  grid-column: center-start / center-end;
  justify-content: center;
  list-style: none;

  .footerNavItem {
    &:where(:link, :visited) {
      display: inline-block;
      text-decoration: none;
      transition: all 0.4s linear;
    }

    svg {
      width: 1.92rem;
      height: 1.92rem;
      fill: $color-white;
    }

    &:where(:hover, :active) {
      svg {
        fill: $color-green;
      }
    }
  }
}
