@use 'sass:map';
@use 'main' as *;

$galleryItemPosition: (
  '1': (
    'row': 1 / span 2,
    'column': 1 / span 2,
  ),
  '2': (
    'row': 1 / span 2,
    'column': 3 / span 2,
  ),
  '3': (
    'row': 1 / span 2,
    'column': 5 / span 1,
  ),
  '4': (
    'row': 1 / span 2,
    'column': 6 / span 2,
  ),
  '5': (
    'row': initial,
    'column': initial,
  ),
  '6': (
    'row': initial,
    'column': initial,
  ),
  '7': (
    'row': 3 / span 2,
    'column': 1 / span 1,
  ),
  '8': (
    'row': 3 / span 2,
    'column': 2 / span 2,
  ),
  '9': (
    'row': 3 / span 2,
    'column': 4,
  ),
  '10': (
    'row': 3 / span 2,
    'column': 5 / span 2,
  ),
  '11': (
    'row': 3 / span 2,
    'column': initial,
  ),
  '12': (
    'row': 3 / span 2,
    'column': initial,
  ),
  '13': (
    'row': 5 / span 2,
    'column': 1 / span 1,
  ),
  '14': (
    'row': 5 / span 2,
    'column': 2 / span 1,
  ),
  '15': (
    'row': 2 / span 2,
    'column': 6,
  ),
  '16': (
    'row': initial,
    'column': initial,
  ),
  '17': (
    'row': 5 / span 2,
    'column': 4 / span 2,
  ),
  '18': (
    'row': 5 / span 2,
    'column': 6 / span 1,
  ),
  '19': (
    'row': initial,
    'column': initial,
  ),
  '20': (
    'row': initial,
    'column': initial,
  ),
  '21': (
    'row': initial,
    'column': initial,
  ),
  '22': (
    'row': 5 / span 2,
    'column': 8 / span 1,
  ),
);

@mixin galleryItemPosition($target) {
  $current: map.get($galleryItemPosition, #{$target});
  &:nth-of-type(#{$target}) {
    grid-row: map.get($current, 'row');
    grid-column: map.get($current, 'column');
  }
}

.skillsGallery {
  background-color: $color-grey-light-1;
  display: grid;
  column-gap: 1.5rem;
  row-gap: 2rem;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 4.5vw);
  margin-top: 4rem;
  padding: 8rem;

  .skillsGalleryItem {
    @for $i from 1 through 22 {
      @include galleryItemPosition($i);
    }

    .skillsGalleryItemImg {
      width: 100%;
      height: 100%;
      object-fit: fill;
      display: block;
    }
  }
}
