@use '../abstracts' as *;

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1 rem = 10px
}

body {
  color: $color-white-smoke;
  font-family: $font-family;
  font-weight: 300;
  min-height: 100vh;
  scroll-behavior: smooth;
  background-color: $color-black;
}

a,
a:visited,
a:link {
  text-decoration: none;
}
